<div class= "beer-list">
    <!-- mat-table is a directive from Material-->
    <table mat-table [dataSource]="beerList" class="mat-elevation-z8">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let beer"> {{beer.name}} </td>
              </ng-container>
        <!-- Tagline Column -->
        <ng-container matColumnDef="tagline">
                <th mat-header-cell *matHeaderCellDef> Tagline </th>
                <td mat-cell *matCellDef="let beer"> {{beer.tagline}} </td>
              </ng-container>
        <!-- first-brewed Column -->
        <ng-container matColumnDef="first_brewed">
                <th mat-header-cell *matHeaderCellDef> First Brewed </th>
                <td mat-cell *matCellDef="let beer"> {{beer.first_brewed}} </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>